<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Authors</title>
    <style>
        body{
          background-color: green;
        }
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        tr:first-child {
          background-color: blue;
          color:white;
        }
        tr{
          text-align: center;
          font-weight
        }
    </style>
</head>
<body>
    <h1>Authors list </h1>
    <table width="60%">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
        <tr>
        <tr th:each="author: ${authors}">
            <th th:text="${author.name}"></th>
            <th th:text="${author.lastname}"></th>
        </tr>
    </table>
</body>
</html>